.image {
    width:18vw;
    height:auto;
	display:block;
    margin:auto;
    padding:auto;
}

.character, #enemies, #heroes {
	font-size: 1.0rem;
	float: left;
	text-align: center;
	display:block;
}

.characterName, .characterHealth {
	color: red;
	width:100%;
	margin: 0 auto;
}